.mode {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  font-size: 1.5rem;

  & div{
    padding: 0.1em 0.3em;
    margin: 0.5em;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s;

    &:hover{
      background-color: lightgray;
    }
  }

  & .isSelected{
    background-color: dodgerblue;
    color: white;
  }

  & .isDark{
    background-color: white;
  }
}